<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
       <add key="Exp1" value="1" />
     <add key="Exp2" value="2" />
     <add key="Exp3" value="3"/>
     <add key="Exp4" value="4"/>
     <add key="Exp5" value="5" />
     <add key="Exp6" value="6"/>
     <add key="Exp7" value="7"/>
     <add key="Exp8" value="8" />
     <add key="Exp9" value="9"/>
     <add key="Exp500" value="500" />
     <add key="Exp250" value="250"/>
     <add key="Exp50" value="50"/>
     <add key="Exp0" value="0" />
     <add key="Exp8" value="3"/>
     <add key="Exp9" value="4"/>
</appSettings>
  <connectionStrings>
    <add name="DataAccessLayer.Properties.Settings.KCDC2012ConnectionString" connectionString="Data Source=localhost;Initial Catalog=KCDC2012;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="KCDC2012Entities" connectionString="metadata=res://*/CodeLuau.csdl|res://*/CodeLuau.ssdl|res://*/CodeLuau.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=KCDC2012;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DatabaseEntities" connectionString="metadata=res://*/CodeLuau.csdl|res://*/CodeLuau.ssdl|res://*/CodeLuau.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>